


  *{
    /** disable scrolling on mobile view **/
    overflow: hidden;
  }
  body {
    font-family: "Lato", sans-serif;
  }
  /** add background image **/
  body{
      background-image: url("/images/background.png");
    /** responsive background image for mobile view **/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF0A1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #131212;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .button-deck:hover {
    background-color: #ac807d;  
  
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .main-body {
    /* center vertically  and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /** fix the font size of text even if the screen size changes **/
    font-size: 1rem;
    /** add margin to the left relative to the screen size **/
    margin-left: 18vw;
    margin-right: 18vw;
    /** add top and bottom margin relative to the screen size **/
    margin-top: 15vh;
    margin-bottom: 5vh;
  
  
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


